 /*
    Selection d'une paire de couleur avec :
    https://jxnblk.github.io/hello-color/
    Le design est clairement basé sur ce site; (merci c'est joli)

    #f1eedc white break : #0c0e1c dark blue
     
     */
/*******************/
/*******************/
/**Anim & fontface**/
/*******************/
/*******************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');

@keyframes moving-cube{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(90deg);
    }
}
/*******************/
/*******************/
/*****bloc vide*****/
/*******************/
/*******************/

.lines{
    width: 100vh;
    height: 1px;
    background-color: var(--second-bg-color);
  }
  
  /*******************/
  /*******************/
  /****bloc vide******/
  /*******************/
  /*******************/

  *
  {
    box-sizing: border-box;
  }

  body
  {
    padding: 0;
    background-color:var(--main-bg-color);
    max-width:100vw;
    margin: 0 auto;
    color: var(--primary-texte-color);
    font-family: var(--font roboto);
  }
  main
  {
    min-height: calc(100vh - 190px);
    padding-top: 5vh;
    font-size: 1vn; 
  }
  .flex-list
{
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  font-family: var(--font-roboto);
  font-weight: 100;
}

/*******************/
/*******************/
/*******NAVBAR******/
/*******************/
/*******************/
.animate-cube
{
    height: 120px;
}
.main-menu ul
{
    font-size: 2em;
    margin: 0;
    padding: 40px;
}
ul a
{
    color: inherit;
    text-decoration: none;
  }
  /*******************/
  /*******************/
  /*******FOOTER******/
  /*******************/
  /*******************/
  .circle
  {
    background-color: var(--second-bg-color);
    width:25px;
    height:25px;
    border-radius: 100%;
    position: relative;
    
  }