 /*
    Selection d'une paire de couleur avec :
    https://jxnblk.github.io/hello-color/
    Le design est clairement basé sur ce site; (merci c'est joli)

    #f1eedc white break : #0c0e1c dark blue
     
     */
/*******************/
/*******************/
/**Anim & fontface**/
/*******************/
/*******************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');

@keyframes moving-cube{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(90deg);
    }
}
/*******************/
/*******************/
/*****bloc vide*****/
/*******************/
/*******************/

.lines{
    width: 100vh;
    height: 1px;
    background-color: var(--second-bg-color);
  }
  
  /*******************/
  /*******************/
  /****bloc vide******/
  /*******************/
  /*******************/